#contents{background: url(../images/bg.jpg) no-repeat; width:800px; height: 500px; 
   margin: 0 auto; background-size: cover; font-size: 40px; position: relative;}
h1{color: white; position: absolute; bottom: 100px; right: 100px;}